<div class="signin_div">
    <span class="headline">Anmeldung</span>
    <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    <div class="input_div">
        <img class="input_img" src="/assets/img/mail.png" alt="">
        <input type="email" placeholder="beispielname@email.com">
    </div>
    <div class="input_div">
        <img class="input_img_2" src="/assets/img/lock.png" alt="" >
        <input type="password" placeholder="Passwort">
    </div>
    <div class="forgot_pw">Passwort vergessen?</div>
    <div class="or">
        <img src="/assets/img/line.png" alt="">
        <span>ODER</span>
        <img src="/assets/img/line.png" alt="">
    </div>
    <div class="google_button">
        <img src="/assets/img/Google.png" alt="">
        <span>Anmelden mit Google</span>
    </div>
    <div class="button_div">
        <div class="signin_button">Anmelden</div>
        <div class="guest_login_button">Gäste-Login</div>
    </div>
</div>