.signin_div {
    box-sizing: border-box;
    width: 606px;
    border-radius: 30px;
    gap: 43px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    span {
        text-align: center;
    }

    p {
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
}

.headline {
    font-size: 46px;
    font-weight: 700;
    color: #444DF2;
}

.forgot_pw {
    transition: 200ms;
    background-color: transparent;
    border-radius: 30px;
    width: 201px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797EF3;
    font-size: 18px;
    font-family: 'Figtree', sans-serif;

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;
    }

}

.or {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        height: 1px;
        width: 200px;
    }
}

input {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 200ms;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 60px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid #686868;
    }

    &:focus {
        border: 1px solid #535AF1;
    }

    &:focus::placeholder {
        color: transparent;
    }

}

.input_img {
    position: absolute;
    left: 24px;
    top: 23px;
}

.input_img_2 {
    position: absolute;
    left: 24px;
    top: 19px;
}

.input_div {
    width: 100%;
    position: relative;
}

.google_button {
    border: 1px solid transparent;
    transition: 200ms;
    box-sizing: border-box;
    transition: 200ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #ECEEFE;
    width: 100%;
    border-radius: 100px;
    height: 60px;
    justify-content: center;
    gap: 16px;

    &:hover {
        border: 1px solid #686868;
    }

    span {
        font-size: 18px;
        color: #444DF2;
    }
}

.button_div_sign_in {
    display: flex;
    gap: 30px;
}

.signin_button {
    transition: 200ms;
    font-weight: 700;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444DF2;
    border-radius: 25px;
    width: 137px;
    height: 49px;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

.guest_login_button {
    transition: 200ms;
    box-sizing: border-box;
    color: #444DF2;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #797EF3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 137px;
    height: 49px;

    &:hover {
        background-color: #444DF2;
        cursor: pointer;
        color: white;
    }
}

.login_success {
    width: 400px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 185px;
    right: calc(50% - 200px);
    color: white;
    font-size: 30px;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #444DF2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login_error {
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 185px;
    right: calc(50% - 265px);
    color: white;
    font-size: 30px;
    font-weight: 700;
    box-sizing: border-box;
    width: 530px;
    background-color: red;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.dnone {
    display: none;
}

.show_sign_in_successful {
    opacity: 1;
    z-index: 5;
    animation: slide_in_login_succes 0.5s ease-in;
}

.show_error {
    z-index: 5;
    animation: slide_in 3s ease-in-out;
}

.white_shadow {
    transition: 200ms;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.show_shadow {
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.468);
}

.error {
    color: red;
    margin-left: 15px;
    position: absolute;
    top: 63px;
    left: 0px;
}

.invalid {
    background-color: #686868;

    &:hover {
        background-color: #686868;
        cursor: not-allowed;
    }
}

.imprint {

    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;

    span {
        z-index: 1;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid transparent;
        transition: 200ms;
        box-sizing: border-box;
        color: #797EF3;
        font-size: 18px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            border: 1px solid #686868;

        }
    }
}

@keyframes slide_in_login_succes {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes slide_in {
    0% {
        opacity: 0;
        transform: translateY(+300%);
    }

    10% {
        opacity: 1;
        transform: translateY(-10%);
    }

    90% {
        opacity: 1;
        transform: translateY(-10%);
    }

    100% {
        opacity: 0;
        transform: translateY(+300%);
    }
}


@media screen and (max-width: 750px) {

    .signin_div {
        width: 100%;
    }

    .or {
        justify-content: center;

        img {
            width: 35%;
        }
    }

    .login_error {
        width: 266px;
        font-size: 15px;
        right: calc(50% - 133px);
        border-radius: 20px;
        padding-top: 25px;
        bottom: 104px;
    }

    .login_success {
        width: 266px;
        font-size: 15px;
        right: calc(50% - 133px);
        border-radius: 20px;
        padding-top: 25px;
        bottom: 104px;
    }
}


@media screen and (max-width: 430px) {
    .signin_div {
        padding: 20px;
    }

    .button_div {
        gap: 5px;
    }

    input:placeholder-shown {
        font-size: 12px;
    }
}

@media screen and (max-height: 1100px) {

    .signin_div {
        gap: 25px;
    }

}

@media screen and (max-height: 950px) {

    .signin_div {
        gap: 15px;
        margin-top: 16px;

        p {
            font-size: 16px;
        }
    }

    .headline {
        font-size: 30px;
    }

    .google_button {
        height: 50px;
    }

    .button_div_sign_in {
        display: flex;
        gap: 15px;
    }

}

@media screen and (max-height: 750px) {

    input {
        height: 50px;
        margin-bottom: 10px;
    }

    .google_button {
        height: 50px;
    }

    .signin_div {
        gap: 3px;

        p {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    .input_img {
        top: 18px;
    }

    .input_img_2 {
        top: 12px;
    }

    .error {
        top: 50px;
        font-size: 10px;
    }

    .imprint {
        margin-top: 10px;
    }


}