.input-container {
  position: relative;
  width: 100%;
  position: relative;

  input {
    width: calc(100% - 60px);
    padding: 10px 30px;
    height: 35px;
    border-radius: 42px;
    border: none;
    font-size: 22px;
    font-weight: 400;
    margin-left: -31px;

    &:focus {
      outline: 2px solid #adb0d9;
    }
  }

  .search-img {
    position: absolute;
    height: 25px;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.search-container {
  position: absolute;
  top: 68px;
  left: -34px;
  width: calc(100% - 20px);
  height: fit-content;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #adb0d9;
  z-index: 999;
  padding: 20px 10px;
  gap: 5px;

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .loader {
      border: 10px solid #f3f3f3;
      border-top: 10px solid #535af1;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .categorie-container {
    display: flex;
    justify-content: center;
    gap: 50px;

    .categorie {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px 20px;
      background-color: #eceefe;
      border-radius: 10px;
      width: fit-content;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;

    .no-results-row {
      display: flex;
      padding: 10px;
    }

    .result-row {
      display: flex;
      padding: 10px;
      cursor: pointer;

      img,
      svg {
        margin-right: 10px;
        height: 22px;
      }

      .channel-tag {
        margin-right: 2px;
      }

      &:hover {
        background-color: #eceefe;
        border-radius: 30px;
      }
    }
  }
}

.d-none {
  display: none !important;
}

@media (max-width: 1280px) {
  .input-container {
    width: 68%;
    margin-left: 115px;
  }
}

@media (max-width: 1200px) {
  input::placeholder {
    font-size: 18px;
  }
}