<div class="dialog-container">
    <div class="head-container">
        <span>Channel erstellen</span>
        <img (click)="closeDialog()" src="assets/img/icons/close.png" class="sidebar-icon-hover" alt="">
    </div>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quos deserunt ea tenetur reiciendis id facilis
        illum unde repellat impedit?</p>

    <span>Channel-Name</span>

    <form [formGroup]="form">
        <div id="channel-input">
            <img src="assets/img/icons/tag.svg" alt="">
            <input type="text" formControlName="channel-name" placeholder="z.B Kooperationsprojekte" required>
        </div>

        <span>Beschreibung (optional)</span>

        <input id="optional-input" type="text" formControlName="description" placeholder="Dein Text hier">

        <button [disabled]="!form.valid" mat-fab extended (click)="openAddPplToChannel()" #create>Erstellen</button>
    </form>
</div>