<header>
    <div class="chat-receiver">
        <mat-icon>tag</mat-icon>
        <h1>Entwicklerteam</h1>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="members">
        <div class="already-members">
            <div class="already-members-avatars">
                <img src="/assets/img/small_avatar/avatar_1.svg">
                <img src="/assets/img/small_avatar/avatar_2.svg">
                <img src="/assets/img/small_avatar/avatar_3.svg">
            </div>
            <span>3</span>
        </div>
        <mat-icon class="add-members">person_add_alt</mat-icon>
    </div>
</header>
<section class="chat-messages">
    <div class="chat-messages-date">
        <div class="parting-line"></div>
        <div class="messages-date">Dienstag, 14 Januar</div>
    </div>
    <div class="chat-message-container">
        <img src="/assets/img/small_avatar/avatar_1.svg">
        <div class="chat-message-details">
            <div class="gap-10">
                <span class="chat-message-name">Noah Braun</span>
                <span class="last-message-time">14:25 Uhr</span>
            </div>
            <div class="chat-message-text">Welche Version ist aktuell von Angular?</div>
            <div class="gap-10">
                <span class="chat-message-answers-amount">2 Antworten</span>
                <span class="last-message-time">Letzte Antwort 14:56 Uhr</span>
            </div>
        </div>
    </div>
</section>
<!-- <mat-card>
    <mat-card-content>Empfänger</mat-card-content>
</mat-card> -->