$hover-background-color: #ECEEFE;
$hover-text-color: #535AF1;
$hover-transition: all ease-in-out 125ms;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 6px -2px rgb(0, 0, 0, 0.08);
    padding: 25px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.chat-receiver {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 5px 20px;
    transition: $hover-transition;

    &:hover {
        background-color: $hover-background-color;
        color: $hover-text-color;
        cursor: pointer;
        transition: $hover-transition;
    }
}

h1 {
    margin-block-start: unset;
    margin-block-end: unset;
}

.members {
    display: flex;
    align-items: center;
    gap: 5px;
}

.already-members {
    padding: 3px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        background-color: $hover-background-color;
        color: $hover-text-color;
        cursor: pointer;
        transition: $hover-transition;
    }
}


.already-members-avatars {
    display: flex;
    align-items: center;


    img {
        height: 40px;
        border: 1px solid white;
        border-radius: 100%;
        margin-left: -10px;
        background-color: white;
    }

    :first-child {
        margin-left: unset !important;
    }
}

.add-members {
    padding: 10px;
    border-radius: 100%;
    background-color: $hover-background-color;

    &:hover {
        color: $hover-text-color;
        cursor: pointer;
        transition: $hover-transition;
    }
}