*::-webkit-scrollbar {
     width: 0px !important;
 }

.container {
    display: none;
    flex-direction: column;
    background-color: white;
    position: relative;
    bottom: 137px;
    left: 20px;
    padding: 10px;
    width: max-content;
    border: 1px solid #ADB0D9;
    border-radius: 0 30px 30px 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 10px;
    max-height: 132px;
    
   

        .dm-profile {
            padding: 5px;
            border-radius: 20px;
            transition: 200ms;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 15px;

                span {
                    font-size: 18px;
                }
            &:hover {
                background-color: #ECEEFE;
            }    
        }
}

.flex {
  display: flex !important;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid white;
}