<header>
    <img class="pointer" id="logo" src="assets/img/header-img.png" alt="">

    <div class="input-container">
        <img src="assets/img/icons/search.png" alt="">
        <input type="text" id="searchbar" placeholder="Code learning durchsuchen">
    </div>

    <div id="profile" (click)="openProfileMenu()">
        <span id="name">Frederick Beck</span>
        <div class="center pointer">
            <img class="profile-img" src="assets/img/avatar_online_status/avatar1.png" alt="">
            <img src="assets/img/icons/arrow_down.png" alt="">
        </div>
    </div>
</header>