header {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    gap: 25px;
    margin: 0px 25px;

    #logo {
        width: 200px;
    }

    #profile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        position: relative;

        #name {
            font-size: 26px;
            font-weight: bold;

            &:hover {
                color: #535AF1;
            }
        }

        .profile-img {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            margin-right: 20px;
        }

        svg {
            position: absolute;
            bottom: 2px;
            right: 140px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
}

.container-header-img {
    display: flex;
    justify-content: center;
}

.box {
    gap: 10px;
}

.box-small {
    flex-basis: 400px;
}

.box-large {
    flex-grow: 1;
}