<header>
    <div class="container-header-img box box-small">
        <img class="pointer" id="logo" src="assets/img/header-img.png" alt="">
    </div>
    <app-searchbar class="box box-large"></app-searchbar>

    <div class="box box-small" id="profile" (click)="openProfileMenu()" #profile>
        <span id="name"> {{ authService.userData.user_name }}</span>
        <div class="center pointer">
            <img class="profile-img" [src]="authService.userData.avatar" alt="">
            <img src="assets/img/icons/arrow_down.png" alt="">
        </div>
    </div>
</header>