.placeholder-top {
    height: 120px;
    width: 100%;
}

.placeholder-left {
    width: 400px;
    height: 100%;
    background-color: white;
    margin-left: 25px;
}

.thread {
    transition: 300ms;
    width: 0px;
    height: 100%;
    background-color: white;
    margin-right: 25px;
}

.open_thread {
    width: 20%;
}

.container-styling {
    border-radius: 30px;
    height: calc(100vh - 120px - 25px);
    margin-bottom: 25px;
}

.chat-interaction {
    display: flex;
    width: 100%;
}

app-channel-direct-chat, app-new-msg {
    background-color: white;
    width: 100%;
    margin: 0 25px;
}