<app-desktop-header></app-desktop-header>
<section class="chat-interaction">
    <!---------------------------------------------- hier Paul component ---------------------------------------->
    <app-channel-sidebar></app-channel-sidebar>
    <app-channel-direct-chat *ngIf="!openNewMsg" class="container-styling"></app-channel-direct-chat>
    <app-new-msg *ngIf="openNewMsg" class="container-styling"></app-new-msg>
    <!---------------------------------------------- hier antworten fenster (ganz rechts) ---------------------------------------->
    <div class="placeholder-right container-styling"></div>
</section>