<app-desktop-header></app-desktop-header>
<section class="chat-interaction">
    <app-channel-sidebar class="box"
        [ngClass]="{'slidein-sidebar': sidebarVisible, 'slideout-sidebar': !sidebarVisible, 'hide-sidebar': timeoutSidebarHide, 'show-sidebar': !timeoutSidebarHide}"></app-channel-sidebar>
    <app-channel-direct-chat *ngIf="!chatService.openNewMsgComponent" class="box container-styling box-large"
        (threadOpen)="setVariable($event)"></app-channel-direct-chat>
    <app-new-msg *ngIf="chatService.openNewMsgComponent" class="box container-styling box-large"></app-new-msg>
    <app-thread  [class.open_thread]="fsDataThreadService.thread_open" [class.close_thread]="!fsDataThreadService.thread_open"
        class=" thread container-styling overflow"></app-thread>
</section>
<div class="vertical-text pointer select-none" (click)="toggleSidebar()">
    <span>Workspace-Menü schließen</span>
    <img src="assets/img/icons/hide_menu.png" alt="">
</div>
<button (click)="open()">test</button>