<div *ngIf="!fsDataThreadService.detailsVisible" id="menu-container">
    <span (click)="toggleDetails()">Profil</span>
    <span (click)="signOut()">Log out</span>
</div>

<div id="profileDetails" *ngIf="detailsVisible || fsDataThreadService.detailsVisible">
    <div class="header-container">
        <span>Profil</span>
        <img class="sidebar-icon-hover" (click)="toggleDetails()" src="assets/img/icons/close.png" alt="">
    </div>

    <img class="profileImg" [src]="authService.userData.avatar" alt="">

    <div class="middle-part">
        <div class="edit-container">
            <span id="name">{{ authService.userData.user_name }}</span>
            <span id="edit" class="pointer" (click)="toggleEditDetails()">Bearbeiten</span>
        </div>
        <img id="status" src="assets/img/status/active.png" alt="">
    </div>


    <div class="email-container">
        <img src="assets/img/mail.png" alt="">
        <span id="email-headline">E-Mail-Adresse</span>
        <span id="email-address">{{ authService.userData.email}}</span>
    </div>
</div>

<div id="editProfile" *ngIf="editDetailsVisible">
    <div class="header-container">
        <span>Dein Profil bearbeiten</span>
        <img (click)="toggleEditDetails()" class="sidebar-icon-hover" src="assets/img/icons/close.png" alt="">
    </div>

    <img class="profileImg" [src]="authService.userData.avatar" (click)="editAvatarImage()">

    <div class="middle-part">

        <div id="edit-name">
            <div id="edit-name-headline">
                <img src="assets/img/icons/account_circle.png" alt="">
                <span>Vollständiger Name</span>
            </div>
            <input type="text" [(ngModel)]="authService.userData.user_name"
                placeholder="{{ authService.userData.user_name }}">
        </div>

        <div id="edit-email">
            <div id="edit-email-headline">
                <img src="assets/img/mail.png" alt="">
                <span>E-Mail-Adresse</span>
            </div>
            <input type="text" [(ngModel)]="authService.userData.email" placeholder="{{ authService.userData.email }}">
        </div>
    </div>

    <div class="btn-container">
        <button id="cancel-btn" mat-fab extended (click)="toggleEditDetails()">Abbrechen</button>
        <button id="save-btn" mat-fab extended (click)="updateUserDetails()">Speichern</button>

    </div>
</div>


<div class="edit_avatar_div" *ngIf="editAvatarVisible">
    <div class="header-container">
        <span>Dein Profilbild bearbeiten</span>
        <img (click)="closeEditAvatar()" class="sidebar-icon-hover" src="assets/img/icons/close.png" alt="">
    </div>
    <img class="profileImg" [src]="authService.userData.avatar">
    <span>Wähle einen Standard Avatar...</span>
    <div class="avatar_images">
        <div (click)="setAvatar(images[i])" *ngFor="let img of images; let i = index">
            <img src="{{images[i]}}" alt="">
        </div>
    </div>
    <div class="upload_div">
        <span>oder lade selbst ein Bild hoch.</span>
        <input id="file" type="file" (change)="onFileSelected($event)">
        <label class="upload_button" for="file"><img src="/assets/img/icons/arrow_up.png" alt=""></label>
    </div>
   
    <div class="buttons">
        <div class="save_button" (click)="saveNewAvatar()">Speichern</div>
        <div class="abort_button" (click)="onNoClick()">Abbrechen</div>
    </div>
    <!--- <div class="error" *ngIf="file_error">Bitte wähle ein Bildformat !</div> -->
</div>