.new_pw_div {
    box-sizing: border-box;
    width: 692px;
    height: 463px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 43px;
    position: relative;

    p {
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
}

.logo {
    position: absolute;
    top: 75px;
    left: 75px;
}

.main {
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.error_pw {
    position: absolute;
    color: red;
    margin-left: 15px;
    top: 63px;
    left: 0px;

    span {
        margin-right: 5px;
    }
}

.error {
    z-index: -1;
    opacity: 0;
    position: absolute;
    bottom: 185px;
    right: calc(50% - 265px);
    color: white;
    font-size: 30px;
    font-weight: 700;
    box-sizing: border-box;
    width: 530px;
    background-color: red;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.show_error {
    z-index: 5;
    animation: slide_in 3s ease-in-out;
}

input {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 200ms;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 60px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid #686868;

        &:focus {
            border: 1px solid #535AF1;

            &:focus::placeholder {
                color: transparent;
            }
        }
    }
}

.headline {
    width: 88%;
    font-size: 46px;
    font-weight: 700;
    color: #444DF2;
    text-align: center;
}

.arrow_back {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    position: absolute;
    top: 61px;
    left: 55px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
        border-radius: 100%;
        background-color: #ECEEFE;
    }
}

.change_pw {
    transition: 200ms;
    font-weight: 700;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444DF2;
    border-radius: 25px;
    width: 188px;
    height: 49px;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

.invalid {
    background-color: #686868;

    &:hover {
        background-color: #686868;
        cursor: not-allowed;
    }
}

.input_div {
    width: 100%;
    position: relative;
}

.input_img_2 {
    position: absolute;
    left: 24px;
    top: 19px;
}

@keyframes slide_in {
    0% {
        opacity: 0;
        transform: translateY(+300%);
    }

    10% {
        opacity: 1;
        transform: translateY(-10%);
    }

    90% {
        opacity: 1;
        transform: translateY(-10%);
    }

    100% {
        opacity: 0;
        transform: translateY(+300%);
    }
}

@media screen and (max-width: 750px) {

    .new_pw_div {
        width: 100%;
        gap: 22px;
    }

    .arrow_back {
        top: 20px;
        left: 20px;
    }

    .error {
        width: 266px;
        font-size: 15px;
        right: calc(50% - 133px);
        border-radius: 20px;
        padding-top: 25px;
        bottom: 104px;
    }
}

@media screen and (max-width: 500px) {

    .error_pw {
        margin-right: 3px;
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {

    .new_pw_div {
        padding: 20px;
        height: 365px;
    }

    .headline {
        font-size: 30px;
    }
}

@media screen and (max-height: 800px) {

    .new_pw_div {
        margin-top: 100px;
    }
}