<div class="main">
    <img class="logo" src="/assets/img/header-img.png" alt="">
    <div class="new_pw_div">
        <div class="arrow_back" [routerLink]="['/sign-in']" routerLinkActive="router-link-active">
            <img src="/assets/img/arrow_back.png" alt="">
        </div>
        <div class="headline">Passwort zurücksetzen</div>
        <div class="input_div">
            <img class="input_img_2" src="/assets/img/lock.png">
            <input placeholder="Neues Passwort" type="password" (focus)="pwFocus = true" [(ngModel)]="password"
                (ngModelChange)="dataChanged($event, 'pw1')">
            <div class="error_pw">
                <span *ngIf="!hasValidLength() && pwFocus">8-32 Zeichen</span>
                <span *ngIf="!hasSpecialChr() && pwFocus">Sonderzeichen</span>
                <span *ngIf="!hasNumber() && pwFocus">Zahl</span>
                <span *ngIf="!hasUppercase() && pwFocus">Großbuchstabe</span>
            </div>
        </div>
        <div class="input_div">
            <img class="input_img_2" src="/assets/img/lock.png">
            <input placeholder="Passwort bestätigen" type="password" (focus)="pwFocus_2 = true" [(ngModel)]="password_2"
                (ngModelChange)="dataChanged($event, 'pw2')">
            <span class="error_pw" *ngIf="!passwordConfirmed && pwFocus_2">Passwort stimmt nicht überein</span>
        </div>

        <div [class.invalid]="!formValid" class="change_pw" (click)="resetPassword()">Passwort ändern</div>
    </div>
</div>
<div [class.show_error]="resetFailed" class="error">Zurücksetzen nicht möglich</div>