.new_pw_div {
    box-sizing: border-box;
    width: 692px;
    height: 463px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 43px;
    position: relative;

    p {
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
}

.error {
    position: absolute;
    color: red;
    top: 63px;
    left: 15px;
    span {
        margin-right: 5px;
    }
}

input {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 200ms;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 60px;
    background: #ECEEFE;
    border-radius: 100px;
    &:hover {
        cursor: pointer;
        border: 1px solid #686868;
    &:focus {
        border: 1px solid #535AF1;
    &:focus::placeholder {
        color: transparent;
    }
        
    }


    }
}

.headline {
    font-size: 46px;
    font-weight: 700;
    color: #444DF2;
    text-align: center;
}

.arrow_back {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    position: absolute;
    top: 61px;
    left: 55px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
        border-radius: 100%;
        background-color: #ECEEFE;
    }
}

.change_pw {
    transition: 200ms;
    font-weight: 700;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444DF2;
    border-radius: 25px;
    width: 188px;
    height: 49px;
    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

.invalid {
    background-color: #686868 ;
    &:hover {
        background-color: #686868 ;
        cursor: not-allowed;
    }
}

.input_div {
    width: 100%;
    position: relative;
}

.input_img_2 {
    position: absolute;
    left: 24px;
    top: 19px;
}