<div class="container">
    <div class="first-row">
        <span class="headline">Leute hinzufügen</span>
        <mat-icon mat-button mat-dialog-close class="close-dialog">close</mat-icon>
    </div>
    <label class="checkbox-container">
        <div class="flex">
            <input type="radio" class="round-checkbox" name="option" [formControl]="selectedOptionControl" value="all">
            <span class="checkmark">Alle Mitglieder von <span id="highlight">DA-Bubble</span> hinzufügen</span>
        </div>
    </label>
    <label class="checkbox-container">
        <div class="flex">
            <input type="radio" class="round-checkbox" name="option" [formControl]="selectedOptionControl"
                value="certain">
            <span class="checkmark">Bestimmte Leute hinzufügen</span>
        </div>
        <span *ngIf="userExists && searchControl.value.length > 0" id="user-exists">Nutzer bereits hinzugefügt</span>
        <input *ngIf="selectedOptionControl.value === 'certain'" [formControl]="searchControl" id="certain-input"
            type="text" placeholder="Name eingeben">

        <div class="absolute" *ngIf="showSelectedUsers">
            <div class="selected-user" *ngFor="let user of selectedUser; let i = index">
                <img class="avatar" [src]="user.avatar" alt="">
                <span> {{ user.user_name }}</span>
                <mat-icon _ngcontent-ng-c2102270042="" (click)="deleteSelectedUser(user)" role="img"
                    class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color pointer"
                    aria-hidden="true" data-mat-icon-type="font">close</mat-icon>
            </div>
        </div>
    </label>
    <button class="primary-button" (click)="createNewChannel()"
        [disabled]="selectedOptionControl.value === 'certain' && (!selectedOptionControl.value || selectedUser.length === 0)">Erstellen
    </button>
</div>
<div class="filteredUsers_div">
    <div class="autocomplete-container" *ngIf="filteredUsers.length == 0 && searchControl.value != null">Keine
        Übereinstimmung gefunden</div>
    <div class="autocomplete-container"
        *ngIf="searchControl.value && searchControl.value.length != 0 && filteredUsers.length != 0">
        <div *ngFor="let user of filteredUsers" class="dm-profile pointer sidebar-hover" (click)="addUser(user)">
            <img class="avatar" [src]="user.avatar" alt="">
            <span>{{user.user_name}}</span>
        </div>
    </div>
</div>