<div class="container">
    <div class="first-row">
        <span class="headline">Leute hinzufügen</span>
        <img src="assets/img/icons/close.png" (click)="closeDialog()" class="pointer" alt="">
    </div>
    <label class="checkbox-container">
        <div class="flex">
            <input type="radio" class="round-checkbox" name="option" [(ngModel)]="selectedOption" value="all">
            <span class="checkmark">Alle Mitglieder von <span id="highlight">OfficeTeam</span> hinzufügen</span>
        </div>
    </label>
    <label class="checkbox-container">
        <div class="flex">
            <input type="radio" class="round-checkbox" name="option" [(ngModel)]="selectedOption" value="certain">
            <span class="checkmark">Bestimmte Leute hinzufügen</span>
        </div>
        <input id="certain-input" *ngIf="selectedOption === 'certain'" [(ngModel)]="certainInput" type="text"
            placeholder="Name eingeben">
    </label>
    <button (click)="addChannel()" [disabled]="selectedOption === 'certain' && !certainInput" mat-fab
        extended>Erstellen</button>
</div>