.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-height: 350px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    gap: 40px;  
    overflow-y: hidden;
 
        
    .first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

            .headline {
                font-size: 22px;
                font-weight: 700;
            }
    }

    .checkbox-container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 20px;

        #highlight {
            color: #444DF2;
        }
    }

    .round-checkbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #ffffff;
        border: 1px solid #757575;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        outline: none;
      }
      
      .round-checkbox:checked {
        background-color: white;
        position: relative;
      }

      .round-checkbox:checked:after {
        content: '';
        display: block;
        width: 8px; 
        height: 8px;
        border-radius: 50%;
        background-color: #444DF2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

    .flex {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #certain-input {
        border-radius: 30px;
        border: 1px solid #ADB0D9;
        padding: 15px 20px;
    }

    button {
        width: 120px;
        background-color: #444DF2;
        color: white;
        align-self: flex-end;

        &:disabled {
            background-color: #686868;
        }
    }
}

.d-none {
    display: none;
}