<div class="container">
    <div class="first-row">
        <span class="headline">Leute hinzufügen</span>
        <img src="assets/img/icons/close.png" (click)="closeDialog()" class="pointer" alt="">
    </div>
    <label class="checkbox-container">
        <div class="flex">
            <input type="radio" class="round-checkbox" name="option" [(ngModel)]="selectedOption" value="all">
            <span class="checkmark">Alle Mitglieder von <span id="highlight">Test</span> hinzufügen</span>
        </div>
    </label>
    <label class="checkbox-container">
        <div class="flex">
            <input type="radio" class="round-checkbox" name="option" [(ngModel)]="selectedOption" value="certain">
            <span class="checkmark">Bestimmte Leute hinzufügen</span>
        </div>
        <input [formControl]="searchControl" id="certain-input" value="certain" [(ngModel)]="certainInput" type="text"
            placeholder="Name eingeben">
        <div class="absolute" *ngIf="channelService.showSelectedUser$ | async">
            <div class="selected-user" *ngFor="let userName of selectedUserNames">
                <img src="assets/img/small_avatar/avatar_1.svg" alt="">
                <span> {{ userName }}</span>
                <mat-icon _ngcontent-ng-c2102270042="" (click)="deleteSelectedUser(userName)" role="img"
                    class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color pointer"
                    aria-hidden="true" data-mat-icon-type="font">close</mat-icon>
            </div>
        </div>
    </label>
    <button (click)="createNewChannel()" [disabled]="selectedOption === 'certain' && !certainInput" mat-fab
        extended>Erstellen</button>

    <app-dialog-autocomplete
        [ngClass]="{'d-none': !certainInput || certainInput.length === 0}"></app-dialog-autocomplete>
</div>