.signup_div {
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - 303px);
    top: calc(50% - 385px);
    width: 606px;
    height: 605px;
    border-radius: 30px;
    gap: 43px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    span {
        text-align: center;
    }
}

.headline {
    font-size: 46px;
    font-weight: 700;
    color: #444DF2;
}

input {
    border: 1px solid transparent;
    transition: 200ms;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 60px;
    background: #ECEEFE;
    border-radius: 100px;
    &:hover {
        cursor: pointer;
        border: 1px solid #686868;
    }
}

.input_div {
    width: 100%;
    position: relative;
}

.input_img {
    position: absolute;
    left: 24px;
    top: 23px;
}

.input_img_2 {
    position: absolute;
    left: 24px;
    top: 19px;
}

.go_on {
    transition: 200ms;
    font-weight: 700;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444DF2;
    border-radius: 25px;
    width: 137px;
    height: 49px;
    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

.arrow_back {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    position: absolute;
    top: 40px;
    left: 55px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
        border-radius: 100%;
        background-color: #ECEEFE;
    }
}