<div id="profileDetails">
    <div class="header-container">
        <span>Profil</span>
        <div class="close-profile-menu">
            <mat-icon (click)="close()" mat-button mat-dialog-close>close</mat-icon>
        </div>
    </div>

    <img class="profileImg" [src]="getImageUrl(user_id)" alt="">

    <div class="middle-part">
        <div class="edit-container">
            <span id="name">{{ user_name }}</span>
        </div>
        <div class="status">
            <svg [ngClass]="{'offline': authService.userData.status === 'Abwesend'}" width="16" height="17"
                viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8.5" r="8" fill="#92C83E" />
            </svg>
            <span [ngClass]="{'offline': authService.userData.status === 'Abwesend'}"> {{ authService.userData.status
                }}</span>
        </div>
    </div>

    <div class="email-container">
        <div>
            <img src="assets/img/mail.png" alt="">
            <span id="email-headline">E-Mail-Adresse</span>
        </div>

        <a id="email-address" href="mailto:{{ user_email }}">{{ user_email }}</a>
    </div>

    <div id="msg-btn" (click)="sendMsg(user_id, user_name)">
        <img src="assets/img/icons/msg_icon.svg" alt="">
        <span>Nachricht</span>
    </div>
</div>