<div class="imprint_main">
    <div class="arrow_back" [routerLink]="['/sign-in']" routerLinkActive="router-link-active">
        <img src="/assets/img/arrow_back.png" alt="">
    </div>
   
        <span class="headline">Impressum</span>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Silvio Schriefl <br>
            Fritz-Schäffer-Str. 36<br>
            83104 Tuntenhausen <br>
        </p>
        <p> <strong>Vertreten durch: </strong><br>
            Silvio Schriefl<br>
        </p>
        <p class="contact">Kontakt:</p> <br>
        <p>Telefon: 08067-5868984<br>
            E-Mail: <a href='mailto:info@silvio-schriefl.de'>info@silvio-schriefl.de</a></p><br>
   
</div>