<div class="imprint_main">
    <div class="arrow_back" [routerLink]="['/sign-in']" routerLinkActive="router-link-active">
        <img src="assets/img/arrow_back.png" alt="">
    </div>

    <span class="headline">Impressum</span>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Paul Block <br>
        6900 Bregenz <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Paul Block<br>
    </p>
    <p class="contact">Kontakt:</p> <br>
    <p>E-Mail: <a href='mailto:info@silvio-schriefl.de'>mail@paul-block.de</a></p><br>
</div>