@mixin content_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_div {
  gap: 32px;
  display: flex;
}

.headline {
  width: 100%;

  span {
    font-size: 18px;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
  }
}

.delete_comment_main {
  overflow: hidden;
  height: 200px;
  width: 100%;
  height: 100%;
  border: 1px solid #adb0d9;
  font-size: 18px;
  border-radius: 20px;
  margin: 0 15px;
}

.delete_comment_div {
  @include content_center();
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 6px;
}

:host {
  gap: 20px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 20px;
}