<section class="p-20">
    <div class="title">
        <h1>Leute hinzufügen</h1>
        <mat-icon mat-button mat-dialog-close class="close-dialog">close</mat-icon>
    </div>
    <div class="channel-name">
        <mat-icon class="tag">tag</mat-icon>
        <span>Entwicklerteam</span>
    </div>
    <div class="relative">
        <input class="input-name" type="text" placeholder="Name eingeben">
        <div class="search-people-popup">
            <div>
                <img src="/assets/img/small_avatar/avatar_2.svg">
                <span>Frederik Beck (Du)</span>
            </div>
            <div>
                <img src="/assets/img/small_avatar/avatar_3.svg">
                <span>Elise Roth</span>
            </div>
            <div>
                <img src="/assets/img/small_avatar/avatar_4.svg">
                <span>Noah Braun</span>
            </div>
        </div>
    </div>

    <div class="add-member-channel">
        <button disabled>Hinzufügen</button>
    </div>
</section>