.data {
 height: 100%;
  overflow: scroll;
}
.data_main {
    padding: 50px;
    position: absolute;
    top: 300px;
    left: 50px;
    border-radius: 30px;
    background-color: white;
    height:65%;
    margin-right: 50px;
}


