@mixin content_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  padding: 10px;
  border: 1px solid #adb0d9;
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  font-size: 18px;
  border-radius: 20px;
  color: #686868;

  &:focus {
    color: black;
  }
}

:host {
  gap: 20px;
  min-width: min-content;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  overflow: hidden;
}

.button_div {
  gap: 32px;
  display: flex;
}

.emojy {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  border-radius: 100%;
  background-color: transparent;
  width: 40px;
  height: 40px;

  &:hover {
    background-color: #eceefe;

    img {
      transform: scale(1.05);
      filter: invert(61%) sepia(87%) saturate(6976%) hue-rotate(230deg) brightness(97%) contrast(94%);
    }
  }
}

.emoji_picker {
  z-index: 2;
  width: 100% !important;
}