<div class="forgot_pw_div">
    <div class="arrow_back" [routerLink]="['/sign-in']" routerLinkActive="router-link-active">
        <img src="/assets/img/arrow_back.png" alt="">
    </div>
    <div class="headline">Passwort zurücksetzen</div>
    <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    <div class="input_div">
        <img class="input_img" src="/assets/img/mail.png">
        <input placeholder="beispielname@email.com" type="email"  (focus)="emailFocus = true"
            [(ngModel)]="email"  (ngModelChange)="dataChanged($event)">
        <span class="error" *ngIf="!email_valid && emailFocus">Diese E-Mail-Adresse ist leider ungültig.</span>
    </div>
    <span class="input_mail_text">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
    <div [class.invalid]="!email_valid" class="send_mail" (click)="sendMail()">E-Mail senden</div>
</div>
<div [class.show_message]="authenticationService.email_send != null" [class.red]="message == 'Email nicht gefunden'" class="message">{{message}}</div>