// @import 'assets/styles/fonts.scss';
@import '@ctrl/ngx-emoji-mart/picker';

.d_none {
    display: none !important;
}

.d_block {
    display: block !important;
}

.d_flex{
    display: flex !important;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    background-color: #ECEEFE;
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
textarea {
    font-family: 'Nunito', sans-serif !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ADB0D9 white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #ADB0D9;
    // border-radius: 10px;
    border: 3px none #ffffff;
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
    line-height: unset;
}

.pointer {
    cursor: pointer;
}

.custom-edit-channel-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 0px 30px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.custom-edit-members-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 30px 0px 30px 30px !important; 
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.add-channel-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 30px 30px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.br-20 {
    border-radius: 20px;
}

.default {
    cursor: default;
}

.sidebar-hover:hover {
    background-color: #ECEEFE;
    border-radius: 20px;
}

.sidebar-icon-hover:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECEEFE;
    border-radius: 50%;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-dialog-container {

    .mdc-dialog__surface {
        border-radius: 20px !important;
       overflow: hidden;
    }
}

input[type="file"] {
    display: none;
  }