.d_none {
    display: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    background-color: #ECEEFE;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif !important;
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
    line-height: unset;
}

.pointer {
    cursor: pointer;
}

.br-20 {
    border-radius: 20px;
}

.default {
    cursor: default;
}

.sidebar-hover:hover {
            background-color: #ECEEFE;
            border-radius: 20px;
}

.sidebar-icon-hover:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECEEFE;
    border-radius: 50%;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}