<div class="workspace-menu">
    <header>
        <div class="section-headline default">
            <img id="logo" src="assets/img/icons/Workspace logo.png" alt="">
            <span>Code learning</span>
        </div>
        <img id="edit" class="pointer sidebar-icon-hover" src="assets/img/icons/edit_square.png" alt="">
    </header>

    <div class="channel-container">
        <div class="selection">
            <div class="channel-first-row pointer">
                <img class="sidebar-icon-hover" src="assets/img/icons/arrow_drop_down.png" alt="">
                <div class="workspace">
                    <img src="assets/img/icons/workspaces.png" alt="">
                    <span>Channels</span>
                </div>
                <img class="pointer sidebar-icon-hover" src="assets/img/icons/add.png" alt="">
            </div>

            <div class="channel-second-row">
                <div class="active-channel br-20 pointer">
                    <span class="tag">#</span>
                    <span>Entwicklerteam</span>
                </div>
                <div class="pointer inactive-channel sidebar-hover">
                    <span class="tag">#</span>
                    <span>Office-team</span>
                </div>
                <div class="add-channel-container pointer">
                    <img src="assets/img/icons/add_circle.png" alt="">
                    <span>Channel hinzufügen</span>
                </div>
            </div>
        </div>
    </div>

    <div class="dm-section">
        <div class="dm-first-row pointer">
            <img class="sidebar-icon-hover" id="drop-down-icon" src="assets/img/icons/arrow_drop_down.png" alt="">
            <div class="icon-headline">
                <img src="assets/img/icons/account_circle.png" alt="">
                <span>Direktnachrichten</span>
            </div>
        </div>

        <div class="dm-selection">
            <div class="dm-profile pointer sidebar-hover">
                <img src="assets/img/avatar_online_status/avatar1.png" alt="">
                <span>Frederick Beck (Du)</span>
            </div>

            <div class="dm-profile pointer sidebar-hover">
                <img src="assets/img/avatar_online_status/avatar2.png" alt="">
                <span>Sofia Müller</span>
            </div>

            <div class="dm-profile pointer sidebar-hover">
                <img src="assets/img/avatar_online_status/avatar3.png" alt="">
                <span>Noah Braun</span>
            </div>

            <div class="dm-profile pointer sidebar-hover">
                <img src="assets/img/avatar_online_status/avatar4.png" alt="">
                <span>Elise Roth</span>
            </div>

            <div class="dm-profile pointer sidebar-hover">
                <img src="assets/img/avatar_online_status/avatar5.png" alt="">
                <span>Elias Neumann</span>
            </div>

            <div class="dm-profile pointer sidebar-hover">
                <img src="assets/img/avatar_online_status/avatar6.png" alt="">
                <span>Steffen Hoffmann</span>
            </div>
        </div>
    </div>
</div>
<div class="vertical-text pointer">
    <span>Workspace-Menü schließen</span>
    <img src="assets/img/icons/hide_menu.png" alt="">
</div>