<div class="workspace-menu">

    <header>
        <div class="section-headline">
            <img id="logo" src="assets/img/icons/Workspace logo.png" alt="">
            <span>Code learning</span>
        </div>
        <img class="pointer" src="assets/img/icons/edit_square.png" alt="">
    </header>

    <div class="channel-container">
        <div class="selection">
            <div class="first-row">
                <img class="pointer" src="assets/img/icons/arrow_drop_down.png" alt="">
                <div class="workspace">
                    <img src="assets/img/icons/workspaces.png" alt="">
                    <span>Channels</span>
                </div>
                <img class="pointer" src="assets/img/icons/add.png" alt="">
            </div>
        </div>

    </div>

</div>