.workspace-menu{
    display: flex;
    flex-direction: column;
    padding: 32px 30px;
    gap: 50px;
    position: relative;
    width: 300px;
    border-radius: 30px;
    height: calc(100vh - 210px);
    background-color: white;
    margin-left: 25px;
    border-radius: 30px;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .section-headline {
            gap: 15px;
            display: flex;
            align-items: center;
            padding-right: 20px;
        }

        #logo {
            width: 60px;

        }

        span {
            font-size: 24px;
            font-weight: 700;
            width: 173px;
            height: 33px;
        }

        #edit:hover {
            scale: 1.1;
                path {
                    fill: #535AF1;
                }
            }
    }

    .channel-container {
        
        .selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            .channel-first-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                gap: 15px;
                height: 50px;
                width: 100%;

                #add-channel-icon:hover {
                    scale: 1.1;
                        path {
                            fill: #535AF1 !important;
                        }
                }

                &:hover {
                    color: #535AF1;

                    svg {
                        path {
                            fill: #535AF1;
                        }
                    }

                    #add-channel-icon {
            
                        path {
                            fill: black;
                        }
                    }
                }
            }

            .workspace {
                display: flex;
                align-items: center;
                position: absolute;
                left: 15%;
                gap: 10px;
            

                span {
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            .channel-second-row {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 270px;
                gap: 15px;
                font-size: 18px;
                margin-left: 30px;
                
                .active-channel{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ECEEFE;
                    padding: 4px 20px;
                    color: #535AF1;
                    font-weight: 700;
                    gap: 10px;

                        .tag {
                            font-size: 22px;
                            font-weight: 700;
                        }
                }

                .inactive-channel {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 20px;
                    gap: 10px;

                    .tag {
                        font-size: 22px;
                        font-weight: 700;
                    }
                }

                .add-channel-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    padding: 4px 20px;
                    margin-top: 10px;

                    &:hover {
                        color: #535AF1;
                        
                         svg {
                               scale: 1.05;  
                               
                               path {
                                fill: #535AF1;
                               }
                         }
                    }  
                }
            }
        }
    }

    .dm-section {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .dm-first-row {
            display: flex;
            height: 50px;
            align-items: center;
            position: relative;

            &:hover {
                color: #535AF1;

                svg {
                    path {
                        fill: #535AF1;
                    }
                }
            }
        
            .icon-headline {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                position: absolute;
                left: 15%;

                    span {
                        font-size: 20px;
                        font-weight: 700;
                    }
            }
        }

        .dm-selection {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-left: 15px;

            .dm-profile {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 50px;
                gap: 15px;
                width: 230px;
                padding: 0 45px 0 25px;


                    img {
                        width: 50px;
                    }

                    span {
                        font-size: 18px;
                    }
            }
        }
    }

    .select-none {
        user-select: none;
    }
    
    .align-center {
        display: flex;
        align-items: center;
    }
    
    .sidebar-hover:hover {
        background-color: #ECEEFE;
        border-radius: 20px;
    }
    
    .sidebar-icon-hover:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ECEEFE;
        border-radius: 50%;
        cursor: pointer;
    }
}

.vertical-text  {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(270deg);
    gap: 15px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 4px 4px 7px 0px #00000033;
    position: absolute;
    left: -155px;
    top: 70%;
    width: 350px;
    z-index: 999;
    
        span {
            font-size: 18px;
            user-select: none;
        } 
  }



