<header>
    <div class="header_content">
        <span>Thread</span>
        <span># Entwicklerteam</span>
        <div>
            <img (click)="closeThread(false)" src="/assets/img/icons/close.png" alt="">
        </div>
    </div>
</header>
<div class="thread_main">
    <div class="message_div">
        <div class="bottom_line">
            <span>2 Antworten</span>
            <div class="line"></div>
        </div>
        <div class="reaction_emojy">
            <div class="emojy"><img src="/assets/img/icons/add_reaction.png" alt=""></div>  
        </div>
        <img src="/assets/img/small_avatar/avatar_1.svg" alt="">
        <div class="message_sub">
            <div class="user_time">
                <span>User Name</span>
                <span>Uhrzeit</span>
            </div>
            <div class="message">Welche Version ist aktuell von Angular?</div>
          
        </div>
       
    </div>
    <div class="type_message">
        <textarea type="text" placeholder="Antworten..."></textarea>
        <div class="icons_main">
            <div class="icons">
                <div class="plus">
                    <div class="hover"><img src="/assets/img/icons/add.png" alt=""></div>
                </div>
                <div class="hover"><img src="/assets/img/icons/sentiment_satisfied.png" alt=""></div>
                <div class="hover"><img src="/assets/img/icons/alternate_email.png" alt=""></div>
            </div>
        </div>
        <img class="send_button" src="/assets/img/icons/send (1).png" alt="">
    </div>
</div>
<div>{{emoji}}</div>



<emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>

