<div>
    <header>
        <div class="header_content">
            <span>Thread</span>
            <span># Entwicklerteam</span>
            <div>
                <img (click)="closeThread(false)" src="/assets/img/icons/close.png" alt="">
            </div>
        </div>
    </header>
    <div class="thread_content">
        <div class="message_div">
            <div class="bottom_line" *ngIf="comments.length > 0">
                <span>{{comments.length}} {{response}}</span>
                <div class="line"></div>
            </div>
            <div (click)="openEmojiPicker(-1)" (click)="stopPropagation($event)" class="reaction_emojy">
                <div class="emojy"><img src="/assets/img/icons/add_reaction.png" alt=""></div>
            </div>
            <img src="/assets/img/small_avatar/avatar_1.svg" alt="">
            <div class="message_sub">
                <div class="user_time">
                    <span>User Name</span>
                    <span>Uhrzeit</span>
                </div>
                <div class="message">Welche Version ist aktuell von Angular?</div>
                <div class="emoji_main">
                    <div *ngFor="let emoji of channel_message.emoji_data; let i = index" class="emoji_count"
                        matTooltip="{{who_react}} hat reagiert">
                        <ngx-emoji class="center" [emoji]="channel_message.emoji_data[i].emoji" size="24"></ngx-emoji>
                        <span>{{channel_message.emoji_data[i].count}}</span>
                    </div>
                </div>
            </div>
            <emoji-mart [class.d_block]="emojiPicker_open && picker_index == -1" class="emoji_picker"
                (emojiClick)="addEmojiToMessage($event)"
                [style]="{ position: 'absolute', top: '0px', right: '0px' }"></emoji-mart>
        </div>


        <div class="comment_div" *ngFor="let comment of comments; let i = index">
            <emoji-mart [class.d_block]="emojiPicker_open && picker_index == i" class="emoji_picker"
                (emojiClick)="addEmoji($event, i)"
                [style]="{ position: 'absolute', top: '0px', left: '0px' }"></emoji-mart>
            <div (click)="openEmojiPicker(i)" (click)="stopPropagation($event)" class="reaction_emojy">
                <div class="emojy"><img src="/assets/img/icons/add_reaction.png" alt=""></div>
            </div>
            <img src="/assets/img/small_avatar/avatar_1.svg" alt="">
            <div class="message_sub">
                <div class="user_time">
                    <span>{{comments[i].user}}</span>
                    <span>Uhrzeit</span>
                </div>
                <div class="message">{{comments[i].comment}}</div>
                <div class="emoji_main">
                    <div *ngFor="let emoji of comments[i].emoji_data; let j = index" class="emoji_count"
                        matTooltip="{{who_react}} hat reagiert">
                        <ngx-emoji class="center" [emoji]="comments[i].emoji_data[j].emoji" size="24"></ngx-emoji>
                        <span>{{comments[i].emoji_data[j].count}}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="type_message">
            <div class="z_index">
                <emoji-mart [class.d_block]="emojiPicker_open && picker_index == -2" class="emoji_picker"
            (emojiClick)="addEmojitoTextarea($event)"></emoji-mart>
            </div>
            <textarea type="text" [(ngModel)]="comment_value" placeholder="Antworten..."></textarea>
            <div class="icons_main">
                <div class="icons">
                    <div class="plus">
                        <div class="hover"><img src="/assets/img/icons/add.png" alt=""></div>
                    </div>
                    <div class="hover"><img src="/assets/img/icons/sentiment_satisfied.png"
                            (click)="openEmojiPicker(-2)" (click)="stopPropagation($event)"></div>
                    <div class="hover"><img src="/assets/img/icons/alternate_email.png" alt=""></div>
                </div>
            </div>
            <img [class.inactive]="comment_value.length < 1" class="send_button" src="/assets/img/icons/send (1).png"
                alt="" (click)="postComment()">
        </div>
    </div>
</div>